fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
google-generativeai # Menggantikan openai
google-api-python-client
beautifulsoup4
langchain
requests
sentence-transformers
pgvector
passlib[bcrypt]
python-jose[cryptography]
